{% extends "__base.html" %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title"></h4>
                </div>
                <div class="box-body" style="overflow: scroll;">
                    <table class="table table-lg" id="datatable">
                        <thead>
                            <tr>
                                <th>Домен</th>
                                <th>Статус http, https</th>
                                <th>Статус www, без www</th>
                                <th>Домен кончится</th>
                                <th align="center">Сертификат</th>
                                <th>Сертификат кончится</th>
                                <th style="display: none;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in domains %}
                            <tr class="bt-3 border-primary">
                                <td scope="row"><img src="//favicon.yandex.net/favicon/{{ i.domain }}" style="margin-right: 5px;"><span>{{ i.domain }}</span> <i class="fa fa-info-circle" data-toggle="modal" style="cursor: pointer;" onclick="set_this_info($(this))" data-target="#modal-right"></i></td>
                                <td>{% if i.statushttp %}<span class="badge badge-{{ i.status_badge_http }}">{{ i.statushttp }}</span>{% endif %} | {% if i.statushttps %}<span class="badge badge-{{ i.status_badge_https }}">{{ i.statushttps }}</span>{% endif %}</td>
                                <td>{% if i.statuswww %}<span class="badge badge-{{ i.status_badge_www }}" title="WWW - {{ i.statuswww }}, без WWW {{ i.statusnotwww }}">{{ i.status_badge_www }}</span>{% endif %}</td>
                                <td data-info="{% if i.whois %}<span {% if i.domain_days_to_go.1 < 10 %}style='color: red;'{% endif %}>Через {{ i.domain_days_to_go.0 }}</span>{% else %}Нет информации{% endif %}">{% if i.whois %}{{ i.domain_days_to_go.1 }}{% else %}666{% endif %}</td>
                                <td align="center">{% if i.certify %}<span class="badge badge-success">Success</span>{% else %}<span class="badge badge-danger">None</span>{% endif %}</td>
                                <td data-info='{% if i.cert_days_to_go.1 %}Через{% endif %} <span {% if i.cert_days_to_go.1 < 10 %}style="color: red;"{% endif %}>{{ i.cert_days_to_go.0 }}</span>'>{{ i.cert_days_to_go.1 }}</td>
                                <td class="params" style="display: none;"><span data-item="ip">{{ i.ip }}</span><span data-item="registrator">{{ i.whois.0.registrar }}</span><span data-item="ns">{% if i.whois %}{% for item in i.whois.0.ns %}{% if forloop.last %}{{ item }}{% else %}{{ item }}, {% endif %}{% endfor %}{% endif %}</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="modal modal-right fade" id="modal-right" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Параметры сайта</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                    <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <h5>IP адрес:</h5>
                                    <p data-item="ip"></p>
                                    <h5>NS сервера:</h5>
                                    <p data-item="ns"></p>
                                    <h5>Регистратор</h5>
                                    <p data-item="registrator"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <style>
        @media(max-width: 768px){
            table#datatable th:nth-child(2), table#datatable td:nth-child(2) {
                display: none;
            }
            table#datatable th:nth-child(3), table#datatable td:nth-child(3) {
                display: none;
            }
            table#datatable th:nth-child(5), table#datatable td:nth-child(5) {
                display: none;
            }
            table#datatable th, table#datatable td {
                font-size: 11px;
                max-width: 100px;
                padding: 0;
            }
            table#datatable {
                max-width: 768px;
            }
            #datatable_wrapper .col-sm-6{
                text-align: center;
            }
        }
        @media(max-width: 500px){
            table#datatable {
                max-width: 500px;
            }
        }
    </style>
    <script>
        $(function () {
            "use strict";
            $('#datatable').DataTable({
                "lengthMenu": [[-1, 100, 50, 25], ["Всё", 100, 50, 25]],
                'ordering'    : true,
                "order": [[ 3, "asc" ]],
                'info'        : true,
                'autoWidth'   : true,
                "language": {
                    "info" : "Страница _PAGE_ из _PAGES_",
                    "search": "Поиск:",
                    "paginate": {
                        "first": "Первая",
                        "previous": "Предыдущая",
                        "next": "Следующая",
                        "last": "Последняя"
                    },
                    "lengthMenu": "Показать _MENU_ записей",
                },
                "initComplete": function () {
                    $('tbody td[data-info]').each(function(){
                        $(this).html($(this).data('info'))
                    })
                }
            });
        })
        $(document).ready(function(){
            set_this_info = function(e){
                $('.modal-right').find('[data-item=ns]').text($(e).parents('td').siblings('.params').find('[data-item=ns]').text())
                $('.modal-right').find('[data-item=ip]').text($(e).parents('td').siblings('.params').find('[data-item=ip]').text())
                $('.modal-right').find('[data-item=registrator]').text($(e).parents('td').siblings('.params').find('[data-item=registrator]').text())
            }
        })
    </script>
{% endblock %}