<div class="text-center mt-4 mb-4">Проектыs</div>
    <div class="section-tasks">
        <div class="column">
            <div class="tab-content" id="tasksTabContent">
                <div class="tab-pane fade show active" id="projects" role="tabpanel" aria-labelledby="tasks-tab">
                    <table class="table table-hover table-bordered" id="projects_table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Название проекта</th>
                            </tr>
                        </thead>
                        <tbody>` +
                            "{{each(prop, project) data}}" +
                            '<tr class="fs-14 selectable" data-attr-key="${project.pk}">' +
                                '<td scope="row">${project.pk}</td>'+
                                '<td>${project.name}</td>'+
                            '</tr> {{/each}}' +
                        `</tbody>
                    </table>
                    <button class="btn btn-danger d-none" id="remove_projects">Удалить выбранное</button>

                </div>
            </div>
        </div>
    </div>
</div>