:root {
  --navbar-color: #364b5e;
}
body {
  color: #51595d;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}
body.project {
  background: #aa4b6b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
nav.navbar {
  padding: 24px;
  background: var(--navbar-color);
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}
nav.nav-light {
  background: #fff;
}
.section-header-light {
  background: #fff;
  box-shadow: 0 3px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8; 
}
nav.nav-light a.navbar-brand,
.navbar-light.nav-light .navbar-nav .nav-link {
  color: #607D88;
}
.section {
  background: #fff;
}
.navbar .navbar-profile-title {
  font-weight: 500;
}
.navbar .navbar-profile-title img {
  border-radius: 50%;
  width: 50px;
  padding-right: 5px;
}
.navbar-light .navbar-nav .nav-link {
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
  opacity: 1;
  font-size: 1.1em;
  letter-spacing: 0.4px;
}
.navbar .navbar-brand {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 1.8em;
}
.section-header .brand {
  font-size: 2rem;
}
.profile-avatar img {
  width: 210px;
  border-radius: 50%;
}
.columns {
  display: flex;
}
.columns .column {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 70px 45px;
  padding-top: 2rem;
}
.columns-centered {
  justify-content: center;
}
.section-profile {
  padding-top: 3rem;
  padding-bottom: 2.5rem;
}
.profile-info .contact-title span {
  font-size: 1.25em;
  font-weight: bold;
}
.project-data {
  font-size:  0.8em;
}
.project-data-inner {
  font-size: 0.95em;
}
.profile-info .contact-data span,
.project-label {
  font-size: 0.8em;
}
.profile-info .contact-data-inner span {
  font-size: 0.96em;
}
.profile-info .contact-data:not(:first-child) {
  margin-top: 0.5rem;
}
.text-white {
  color: #fff;
}
.actions li:not(:first-child) {
  margin-left: 1rem;
}
.table td, .table th {
  vertical-align: middle;
}
.btn-action-remove {
  padding: .18em 0.5em;
  opacity: 0.5;
  transition: 0.15s;
}
.btn-action-remove:hover {
  opacity: 1;
}
.section-navigate {
  padding: 2rem 1.5rem;
  color: #fff;
}
.section-navigation {
  padding-top: 10px;
}
.section-navigation-title {
  margin-left: 10px;
  width: 60px;
}
.section-navigation span {
  margin-left: 6px;
}
.section-navigate-title {
  font-family: 'Fira Sans', sans-serif;
  margin-left: 4rem;
  font-size: 30px;
  font-weight: 400;
}
.section-project {
  padding: 1rem 2rem;
}
.project-image img {
  width: 300px;
}
.section-project {
  border-radius: 14px;
}
.section-project .columns .column {
  flex-basis: 1;
}
.project-info-title {
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.8em;
}
.project-info-list {
  margin-top: 0.5rem;
}
.project-tasks {
  margin: 2rem 1rem;
}
.project-tasks span {
  text-transform: uppercase;
  letter-spacing: 0.2px;
}
.table thead th {
  font-weight: 500;
  font-size: 0.9em;
}
.wrapper-login {
  height: 100%; 
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(27,33,51,0.35)), to(rgba(27,33,51,0.35))), url('/static/img/login_logo.jpg');
  background-image: linear-gradient(to top, rgba(27,33,51,0.35), rgba(27,33,51,0.35)), url('/static/img/login_logo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.pt-15 {
  padding-top: 15rem;
}
.form-group label {
  font-size: 14px;
}
.card {
  box-shadow:3px 2px 9px -1px rgba(187, 191, 193, 0.4);
  -moz-box-shadow: 3px 2px 9px -1px rgba(187, 191, 193, 0.4);
  -webkit-box-shadow: 3px 2px 9px -1px rgba(187, 191, 193, 0.4);
}
.card .card-header.header-custom,
.card .card-body {
  padding-left: 30px;
  padding-right: 30px;
}
.card .card-header.header-custom {
  background: #fff;
  padding: 1.5rem 2.5rem;
  text-align: center;
  font-size: 18px;
  border-bottom: 4px solid #f1f1f1;
}
.btn-login {
  text-transform: uppercase;
  padding: 0.65rem 1.9rem;
  background: transparent;
  color: #007bff;
}
.form-control-login {
  color: #262d2f;
  font-size: 18px;
  padding: 0.5rem 0.8rem;
  background: #f8f8f8;
  border-radius: 0;
  height: unset;
  transition: 0.2s;
}
.form-control-login:focus {
  color: #262d2f;
  background: #fff;
  box-shadow: 0 0 0 0.2rem rgba(2, 3, 5, 0.05);
  border-color: transparent;
}
.password + .glyphicon {
  cursor: pointer;
  pointer-events: all;
}
ul.navbar-nav .dropright:hover .dropdown-menu {
  display: block;
}
.status-active {
  background: #cbcbfc;

}
.status-inactive {
  background: #baffb9;

}
.status-test {
  background: #fffc8f;
}
.status-in-progress {
  background: #fcb39b;
}
tr.selected,
tr.selected:hover,
tr.selected > td {
  background: black;
  background-color: #000;
  color: #fff !important;
}
tr.selected td {
  border: none;
}
tr.selected td.details-control {
  background: url('/static/resources/details_close.png') no-repeat center center;
  background-color: #000;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: #fff;
}
.mt-5 {
  margin-top: 2rem;
}
td.details-control {
  background: url('/static/resources/details_open.png') no-repeat center center;
  cursor: pointer;
}
.child-main-info {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
div.slider {
  display: none;
}

.bg-blue {
  background: #d7c1ff;
}
.column_headline {
  font-weight: 500;
  color: #3a1e6c;
}
.child-col-section {
  border-bottom: 1px solid rgba(255, 255, 255 0.1);
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.mb-5 {
  margin-bottom: 8rem;
}
.notifyjs-bootstrap-base {
  font-weight: normal !important;
  padding: 10px 15px 10px 33px !important;
  text-shadow: none !important;
  background-color: #fcf8e3 !important;
  border: 1px solid #fbeed5 !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-radius: 4px !important;
  white-space: nowrap !important;
  background-repeat: no-repeat !important;
  background-position: 6px 12px !important;
}
.notifyjs-bootstrap-base.notifyjs-bootstrap-success {
  background-color: #DFF0D8 !important;
    border-color: #D6E9C6 !important;
}
.tab-pane.active {
  animation: slide 0.45s ease-out;
}
@keyframes slide {
  0% { opacity: 0; transform: translateY(-10%); }
  100% { opacity: 1; transform: translateY(0); }
}
tr.selectable {
  cursor: pointer;
}
.bg-row-child {
  background: #607d8b;
}
.list-style-none {
  list-style: none;
  padding-inline-start: 0;
}
.list-style-none .nav-link {
  padding: 0;
}
/* .unwatched {
  background: #cbcbfc;
} */