{% extends "__base.html" %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title">События</h4>
                </div>
                <div class="box-body">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-default">
                        <i class="fa fa-plus"></i> Создать событие
                    </button>
                    <button type="button" class="btn btn-warning event_off" data-toggle="modal">
                        <i class="fa fa-minus-square-o"></i> Отключить событие
                    </button>
                    <button type="button" class="btn btn-primary event_on" data-toggle="modal">
                        <i class="fa fa-check-square-o"></i> Включить событие
                    </button>
                    <button type="button" class="btn btn-default" data-toggle="modal">
                        <i class="fa fa-random"></i> Объединить события
                    </button>
                    <button type="button" class="btn btn-default go_parse" data-toggle="modal" style="float: right">
                        <i class="fa fa-up"></i> Запустить парс
                    </button>
                    <table class="table table-lg projects bordered" style="margin-top: 25px;">
                        <thead>
                            <colgroup><col width="5%"><col width="45%"><col width="20%"><col width="15%"><col width="15%"></colgroup>
                            <tr>   
                                <th>
                                    <input type="checkbox" id="check_all" class="filled-in check_all_checkboxes">
                                    <label for="check_all"></label>
                                </th>
                                <th>Событие</th>
                                <th>Категория</th>
                                <th>Начало</th>
                                <th>Конец</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for e in events %}
                        <tr class="bt-3 border-primary" >
                            <td>
                                <input type="checkbox" id="{{ e.pk }}" class="filled-in">
                                <label for="{{ e.pk }}"></label>
                            </td>
                            <td{% if not e.active %} style="opacity: 0.2"{% endif %}>
                                <a href="/top50/event/{{ e.name }}/">{{ e.name }}</a>
                            </td>
                            <td{% if not e.active %} style="opacity: 0.2"{% endif %}>{{ e.category }}</td>
                            <td{% if not e.active %} style="opacity: 0.2"{% endif %}>{{ e.startdate|date:"d.m.Y" }}</td>
                            <td{% if not e.active %} style="opacity: 0.2"{% endif %}>{{ e.finishdate|date:"d.m.Y" }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="modal fade show" id="modal-default">
                        <div class="modal-dialog" role="document" id="addquerys">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Создать событие</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <h6>Название события</h6>
                                        <input class="form-control" type="text" name="event_name">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputFile"><i style="font-size: 20px; margin: 0 4px 0 0; position: relative; top: 3px;" class="fa fa-file-excel-o"></i></label>
                                        <input type="file" id="exampleInputFile">
                                        <button type="button" style="float: right;" class="btn btn-default parse_csv">
                                            <i class="fa fa-upload"></i> Загрузить CSV
                                        </button>
                                    </div>
                                    <div class="form-group">
                                        <h6>Запросы (запрос;кол-во)</h6>
                                        <textarea class="form-control" rows="4"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <h6>Начало события</h6>
                                        <input class="form-control" name="date-start" type="date">
                                    </div>
                                    <div class="form-group">
                                        <h6>Конец события</h6>
                                        <input class="form-control" name="date-finish" type="date">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default close" data-dismiss="modal">Отмена</button>
                                    <button type="button" class="btn btn-primary float-right" id="sa-success">Добавить</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>                
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% include "monitoring/_sweet_alert.html" %}
    {% include "monitoring/_toast_notify.html" %}
    <script>
        $(document).ready(function(){
            querys = []
            //check all
            $('.check_all_checkboxes').click(function(){
                if($(this).hasClass('active')){
        	        $(this).toggleClass('active')
        	        $(this).parents('table').find('tbody tr').each(function(){
        		        $(this).not('.hide').find('input[type=checkbox]').prop('checked', false)
        	        })    
                }
                else{
        	        $(this).toggleClass('active')
        	        $(this).parents('table').find('tbody tr').each(function(){
        		        $(this).not('.hide').find('input[type=checkbox]').prop('checked', true)
        	        })
        	    }
            })
            //Parse CSV
            $('.projects tbody :checkbox').shiftcheckbox();
            //Success Message
            $('#sa-success').click(function(){
                _this = $(this)
                var ev_name = $('[name=event_name]').val()
                startdate = $('[name=date-start]').val() ? $('[name=date-start]').val() + 'T00:00' : null
                finishdate = $('[name=date-finish]').val() ? $('[name=date-finish]').val() + 'T00:00' : null
                contents = $('textarea.form-control').val()
                if(ev_name == "" || contents == ""){
                    $.toast({
                        heading: 'Ошибка',
                        text: 'Заполните все поля!',
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                }
                else{
                    $('#addquerys .close').trigger('click')
                    $.ajax({
                        url: '/api/event/',
                        method: "POST",
                        data: JSON.stringify({"name" : ev_name, "category" : "Другое", "querys": querys, "startdate" : startdate, "finishdate" : finishdate, csrfmiddlewaretoken: getCookie('csrftoken')}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data, textStatus){
                            swal("Событие создано!", ev_name, "success")
                        }
                    })
                }
            })
            $('.go_parse').click(function(){
                $.ajax({
                    url: '/api/event/run_parse/',
                    method: "POST",
                    data: JSON.stringify({csrfmiddlewaretoken: getCookie('csrftoken')}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data, textStatus){
                        swal("parse running!", '', "success")
                    }
                })
            })
            
            $('.event_on').click(function(){
                events = []
				for(s = 0; s < $('.projects :checked').length; s++){
					events.push(parseInt($($('.projects :checked')[s]).attr('id')))
				}
				console.log(events)
                $.ajax({
                    url: '/api/event/events_on/',
                    method: "POST",
                    data: JSON.stringify({'events' : events, csrfmiddlewaretoken: getCookie('csrftoken')}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data, textStatus){
                        swal("on!", '', "success")
                    }
                })
            })
            
            $('.event_off').click(function(){
                events = []
				for(s = 0; s < $('.projects :checked').length; s++){
					events.push(parseInt($($('.projects :checked')[s]).attr('id')))
				}
				console.log(events)
                $.ajax({
                    url: '/api/event/events_off/',
                    method: "POST",
                    data: JSON.stringify({'events' : events, csrfmiddlewaretoken: getCookie('csrftoken')}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data, textStatus){
                        swal("off!", '', "success")
                    }
                })
            })
                
            $('.parse_csv').click(function(){
                querys = []
	            var bbb
    			$("input[type=file]").parse({
    				config: {
    					skipEmptyLines: true,
    					header: false,
                        encoding: 'CP1251',
    					complete: function(results, file) {
    						console.log("File done:", results);
    						bbb = results
    					}
    				},
    				complete: function(results, file) {
    					$('[name=event_name]').val($('#exampleInputFile').val().split('\\')[2].split('.')[0].replace(/\s/g, ''))
    				}
    			});
    			ttt = function(){
					for(s = 1; s < bbb['data'].length; s++){
						querys.push({"text" : bbb['data'][s][1], "wordstat" : bbb['data'][s][4]})
						$('textarea').val($('textarea').val() + bbb['data'][s][1] + ';' + bbb['data'][s][4] + '\r\n')
					}
    			}
    			setTimeout(function(){
    				ttt()
    			}, 2000)
            })
        })
    </script>
{% endblock %}