{% extends "__base.html" %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title"></h4>
                </div>
                <div class="box-body">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                        Добавить проект
                    </button>
                    <div class="col-md-12">
                    <table class="table table-lg projects">
                        <thead>
                            <tr>
                                <th>Проект</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for p in projects %}
                        <tr class="bt-3 border-primary">
                            <td>
                                <img src="//favicon.yandex.net/favicon/{{ p.title }}">
                                <a href='/top50/project/{{ p.title }}/'>{{ p.title }}</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    <div class="modal fade show" id="modal-default">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Добавить проект</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <h6>Название сайта</h6>
                                    <input class="form-control" type="text">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                    <button type="button" class="btn btn-primary float-right" id="sa-success">Добавить</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>                
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% include "monitoring/_sweet_alert.html" %}
    {% include "monitoring/_toast_notify.html" %}
    <script>
        $(document).ready(function(){
            //Success Message
            $('#sa-success').click(function(){
                _this = $(this)
                site = $(this).parents('.modal-content').find('.form-control').val()
                if(site == ""){
                    $.toast({
                        heading: 'Ошибка',
                        text: 'Заполните все поля!',
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                }
                else{
                    $.ajax({
                        url: '/api/projects/',
                        method: "POST",
                        data: { "title" : site, csrfmiddlewaretoken: getCookie('csrftoken')},
                        success: function (data, textStatus){
                            aaa = data
                            if( !data.is_created ){
                                _this.siblings().trigger('click')
                                swal('Проект "' + data.title  + '" уже существует')
                            }
                            else{
                                $('table.table-lg tbody').prepend('<tr><td class="bt-3 border-primary"><img src="//favicon.yandex.net/favicon/' + data['title'] + '">' + data['title'] + '</td></tr>')
                                _this.siblings().trigger('click')
                                swal("Проект добавлен!", site, "success")
                            }
                        }
                    })
                }
            });
        })
    </script>
{% endblock %}