{% extends "__base.html" %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title"><img src="//favicon.yandex.net/favicon/{{ data.title }}" style="margin-right: 10px;">{{ data.title }}</h4>
                </div>
                <div class="box-body">
                    <div style="float: left; width: 100%;" class="main-graph" id="main-graph-all"></div>
                    <table class="table table-hover projects table-bordered">
                        <colgroup><col width="50%"><col width="10%"><col width="20%"><col width="20%"></colgroup>
                        <thead>
                            <tr>
                                <th>Запрос</th>
                                <th style="text-align: center;"><img src="//favicon.yandex.net/favicon/wordstat.yandex.ru" style="box-shadow: 0 0 1px 2px #ccc; border-radius: 0%"> Wordstat</th>
                                {% for i in dates %}
                                    {% if forloop.counter < 3 %}
                                    <th>{{ i|date:"d-m-Y" }}</th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for q in qpages %}
                        <tr>
                            <td style="padding-left: 15px!important;"><a href="https://yandex.ru/search/?lr=213&text={{ q.query.text }}">{{ q.query.text }}</a> | <a href="#">Топ 50</a></td>
                            <td style="text-align: center;">{{ q.query.wordstat }}</td>
                            {% for i in q.last_positions %}
                                {% if forloop.counter < 3 %}
                                {% ifchanged i.pub_date %}</td><td>{% endifchanged %}<a href="{{ i.url }}" target="_blank">{{ i.position }}</a>
                                {% endif %}
                            {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="modal fade show" id="modal-default">
                        <div class="modal-dialog" role="document" id="addquerys">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Создать событие</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <h6>Добавить собыите</h6>
                                        {% for e in events %}
                                        <div class="form-control">
                                            <input type="checkbox" data-id="{{ e.pk }}" id="event{{ e.pk }}" class="filled-in">
                                            <label for="event{{ e.pk }}"></label>
                                            <span>{{ e.name }}</span>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default close_modal" data-dismiss="modal">Отмена</button>
                                    <button type="button" class="btn btn-primary float-right" id="sa-success">Добавить</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>                
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% include "monitoring/_sweet_alert.html" %}
    {% include "monitoring/_toast_notify.html" %}
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    
    <!-- morris chart -->
    <script>
        new Morris.Line({
            // ID of the element in which to draw the chart.
            element: 'main-graph-all',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: [
                {% for i in graph %}
                {% verbatim %}{"a"{% endverbatim %} : {{ i.top_3 }}, "b" : {{ i.top_10 }}, "c" : {{ i.top_30 }}, "date" : '{{ i.date|date:"Y-m-d" }}' {% verbatim %}}{% endverbatim %},
                {% endfor %}
            ],
            // The name of the data record attribute that contains x-values.
            xkey: 'date',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['a', 'b', 'c'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            xLabels: 'day',
            labels: ['топ 3', 'топ 10', 'топ 30'],
            lineColors: ['#FF6767','#677AFF', '#437550'],
            lineWidth: 2,
            postUnits: '%',
        });

    </script>
    
    <!-- morris chart -->
    
    <style >
        #DataTables_Table_0_wrapper{
            margin-top: 25px;
        }
        #addquerys .form-control label {
            float: left;
        }
        table.projects tbody tr td, table.projects thead tr th {
            padding: 0 10px!important;
        }
    </style>
    <script>
        $(document).ready(function(){
            querys = []
            //check all
            $('.check_all_checkboxes').click(function(){
                if($(this).hasClass('active')){
        	        $(this).toggleClass('active')
        	        $(this).parents('table').find('tbody tr').each(function(){
        		        $(this).not('.hide').find('input[type=checkbox]').prop('checked', false)
        	        })    
                }
                else{
        	        $(this).toggleClass('active')
        	        $(this).parents('table').find('tbody tr').each(function(){
        		        $(this).not('.hide').find('input[type=checkbox]').prop('checked', true)
        	        })
        	    }
            })
            //Parse CSV
/*
            $(function () {
                "use strict";
                $('.projects').DataTable({
                    "lengthMenu": [[-1, 100, 50, 25], ["Всё", 100, 50, 25]],
                    'ordering'    : true,
                    "order": [[ 2, "desc" ]],
                    'info'        : true,
                    'autoWidth'   : true,
                    "language": {
                        "info" : "Страница _PAGE_ из _PAGES_",
                        "search": "Поиск:",
                        "paginate": {
                            "first": "Первая",
                            "previous": "Предыдущая",
                            "next": "Следующая",
                            "last": "Последняя"
                        },
                        "lengthMenu": "Показать _MENU_ записей",
                    },
    				"columnDefs": [ {
    				"targets": 0,
    				"orderable": false,
    			  	}],
                    "drawCallback": function() {
                        $('.projects :checkbox').off('.shiftcheckbox');
                        $('.projects :checkbox').shiftcheckbox();
                    }
                });
            })
*/

            //CSV PARSE
            $('.parse_csv').click(function(){
                querys = []
	            var bbb
    			$("input[type=file]").parse({
    				config: {
    					skipEmptyLines: true,
    					header: false,
                        encoding: 'CP1251',
    					complete: function(results, file) {
    						console.log("File done:", results);
    						bbb = results
    					}
    				}
    			});
    			ttt = function(){
					for(s = 1; s < bbb['data'].length; s++){
						querys.push({"text" : bbb['data'][s][1], "wordstat" : bbb['data'][s][4]})
						$('textarea').val($('textarea').val() + bbb['data'][s][1] + ';' + bbb['data'][s][4] + '\r\n')
					}
    			}
    			setTimeout(function(){
    				ttt()
    			}, 2000)
            })
            
            //Success Message
            $('#sa-success').click(function(){
                _this = $(this)
                
                if(!$('#addquerys .filled-in:checked').length){
                    $.toast({
                        heading: 'Ошибка',
                        text: 'Заполните все поля!',
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                }
                else{
                    $('#addquerys .close_modal').trigger('click')

                    events = []

                    for(s=0; s < $('#addquerys .filled-in:checked').length; s++){
                        events.push($($('#addquerys .filled-in:checked')[s]).data('id'))
                    }

                    $.ajax({
                        url: '/api/event/add_to_project/',
                        method: "POST",
                        data: JSON.stringify({"project" : parseInt('{{ data.pk }}'), "event" : events, csrfmiddlewaretoken: getCookie('csrftoken')}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data, textStatus){
                            swal("Событие добавлено!", '', "success")
                        }
                    })
                }
            })
        })
    </script>
{% endblock %}