{% extends "__base.html" %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title"><img src="//favicon.yandex.net/favicon/{{ data.title }}" style="margin-right: 10px;">{{ data.title }}</h4>
                </div>
                <div class="box-body">
                    <a href="/top50/project/{{ data.title }}/queries/">
                    <button type="button" class="btn btn-default">
                        Запросы
                    </button>
                    </a>
                    <br>
                    <br>                    
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-default">
                        <i class="fa fa-plus"></i> Добавить событие
                    </button>
<!--
                    <button type="button" class="btn btn-warning" data-toggle="modal">
                        <i class="fa fa-random"></i> Перенести запросы
                    </button>
-->
                    <button type="button" class="btn btn-danger" data-toggle="modal">
                        <i class="fa fa-minus-square-o"></i> Открепить событие
                    </button>
                    <h2 style="text-indent: 15px;">События</h2>
                    <table class="table table-lg projects bordered">
                        <colgroup><col width="5%"><col width="45%"><col width="20%"><col width="15%"><col width="15%"></colgroup>
                        <thead>
                            <tr>   
                                <th>
                                    <input type="checkbox" id="check_all" class="filled-in check_all_checkboxes">
                                    <label for="check_all"></label>
                                </th>
                                <th>Событие</th>
                                <th>Топ 10(за 20 дней)</th>
                                <th>Дата начала</th>
                                <th>Дата окончания</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for e in data.events.all %}
                        <tr class="bt-3 border-primary">
                            <td>
                                <input type="checkbox" id="e{{ e.pk }}" class="filled-in">
                                <label for="e{{ e.pk }}"></label>
                            </td>
                            <td>{{ e.name }}</td>
                            <td>{{ e.queries.all|length }}</td>
                            <td>{{ e.startdate|date:"d.m.Y" }}</td>
                            <td>{{ e.finishdate|date:"d.m.Y" }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <h2 style="text-indent: 15px;">Запросы</h2>
                    <table class="table table-lg projects bordered">
                        <colgroup><col width="5%"><col width="10%"><col width="10%"><col width="30%"><col width="30%"><col width="15%"></colgroup>
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" id="check_all" class="filled-in check_all_checkboxes">
                                    <label for="check_all"></label>
                                </th>
                                <th><img src="//favicon.yandex.net/favicon/wordstat.yandex.ru" style="box-shadow: 0 0 1px 2px #ccc; border-radius: 0%"></th>
                                <th>pos</th>
                                <th>Запрос</th>
                                <th>Событие</th>
                                <th>Url</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for q in qpages %}
                        <tr class="bt-3 border-primary">
                            <td>
                                <input type="checkbox" id="q{{ q.pk }}" class="filled-in">
                                <label for="q{{ q.pk }}"></label>
                            </td>
                            <td>{{ q.query.wordstat }}</td>
                            <td>{{ q.current_position }}</td>
                            <td>{{ q.query.text }}</td>
                            <td>{{ q.event.name }}</td>
                            <td>{{ q.url }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="modal fade show" id="modal-default">
                        <div class="modal-dialog" role="document" id="addquerys">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Создать событие</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <h6>Добавить собыите</h6>
                                        {% for e in events %}
                                        <div class="form-control">
                                            <input type="checkbox" data-id="{{ e.pk }}" id="event{{ e.pk }}" class="filled-in">
                                            <label for="event{{ e.pk }}"></label>
                                            <span>{{ e.name }}</span>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default close_modal" data-dismiss="modal">Отмена</button>
                                    <button type="button" class="btn btn-primary float-right" id="sa-success">Добавить</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>                
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% include "monitoring/_sweet_alert.html" %}
    {% include "monitoring/_toast_notify.html" %}
    <style >
        #DataTables_Table_0_wrapper{
            margin-top: 25px;
        }
        #addquerys .form-control label {
            float: left;
        }
    </style>
    <script>
        $(document).ready(function(){
            querys = []
            //check all
            $('.check_all_checkboxes').click(function(){
                if($(this).hasClass('active')){
        	        $(this).toggleClass('active')
        	        $(this).parents('table').find('tbody tr').each(function(){
        		        $(this).not('.hide').find('input[type=checkbox]').prop('checked', false)
        	        })    
                }
                else{
        	        $(this).toggleClass('active')
        	        $(this).parents('table').find('tbody tr').each(function(){
        		        $(this).not('.hide').find('input[type=checkbox]').prop('checked', true)
        	        })
        	    }
            })
            //Parse CSV
            $('.projects tbody :checkbox').shiftcheckbox();
/*
            $(function () {
                "use strict";
                $('.projects').DataTable({
                    "lengthMenu": [[-1, 100, 50, 25], ["Всё", 100, 50, 25]],
                    'ordering'    : true,
                    "order": [[ 2, "desc" ]],
                    'info'        : true,
                    'autoWidth'   : true,
                    "language": {
                        "info" : "Страница _PAGE_ из _PAGES_",
                        "search": "Поиск:",
                        "paginate": {
                            "first": "Первая",
                            "previous": "Предыдущая",
                            "next": "Следующая",
                            "last": "Последняя"
                        },
                        "lengthMenu": "Показать _MENU_ записей",
                    },
    				"columnDefs": [ {
    				"targets": 0,
    				"orderable": false,
    			  	}],
                    "drawCallback": function() {
                        $('.projects :checkbox').off('.shiftcheckbox');
                        $('.projects :checkbox').shiftcheckbox();
                    }
                });
            })
*/
            //CSV PARSE
            $('.parse_csv').click(function(){
                querys = []
	            var bbb
    			$("input[type=file]").parse({
    				config: {
    					skipEmptyLines: true,
    					header: false,
                        encoding: 'CP1251',
    					complete: function(results, file) {
    						console.log("File done:", results);
    						bbb = results
    					}
    				}
    			});
    			ttt = function(){
					for(s = 1; s < bbb['data'].length; s++){
						querys.push({"text" : bbb['data'][s][1], "wordstat" : bbb['data'][s][4]})
						$('textarea').val($('textarea').val() + bbb['data'][s][1] + ';' + bbb['data'][s][4] + '\r\n')
					}
    			}
    			setTimeout(function(){
    				ttt()
    			}, 2000)
            })
            
            //Success Message
            $('#sa-success').click(function(){
                _this = $(this)
                
                if(!$('#addquerys .filled-in:checked').length){
                    $.toast({
                        heading: 'Ошибка',
                        text: 'Заполните все поля!',
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                }
                else{
                    $('#addquerys .close_modal').trigger('click')

                    events = []

                    for(s=0; s < $('#addquerys .filled-in:checked').length; s++){
                        events.push($($('#addquerys .filled-in:checked')[s]).data('id'))
                    }

                    $.ajax({
                        url: '/api/event/add_to_project/',
                        method: "POST",
                        data: JSON.stringify({"project" : parseInt('{{ data.pk }}'), "event" : events, csrfmiddlewaretoken: getCookie('csrftoken')}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data, textStatus){
                            swal("Событие добавлено!", '', "success")
                        }
                    })
                }
            })
        })
    </script>
{% endblock %}