{% extends "__base.html" %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header">
                    <h4 class="box-title">События</h4>
                </div>
                <div class="box-body">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-default">
                        <i class="fa fa-plus"></i> Добавить запросы
                    </button>
                    <button type="button" class="btn btn-warning" data-toggle="modal">
                        <i class="fa fa-random"></i> Перенести запросы
                    </button>
                    <button type="button" class="btn btn-danger" data-toggle="modal">
                        <i class="fa fa-minus-square-o"></i> Удалить запросы
                    </button>
                    <table class="table table-lg projects bordered" style="margin-top: 25px;">
                        <colgroup><col width="5%"><col width="45%"><col width="20%"><col width="15%"><col width="15%"></colgroup>
                        <thead>
                            <tr>   
                                <th>
                                    <input type="checkbox" id="check_all" class="filled-in check_all_checkboxes">
                                    <label for="check_all"></label>
                                </th>
                                <th>Запрос</th>
                                <th>Wordstat</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for q in data.queries.all %}
                        <tr class="bt-3 border-primary">
                            <td>
                                <input type="checkbox" id="{{ q.pk }}" class="filled-in">
                                <label for="{{ q.pk }}"></label>
                            </td>
                            <td>
                                {{ q.text }}
                            </td>
                            <td>{{ q.wordstat }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="modal fade show" id="modal-default">
                        <div class="modal-dialog" role="document" id="addquerys">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Создать событие</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="exampleInputFile"><i style="font-size: 20px; margin: 0 4px 0 0; position: relative; top: 3px;" class="fa fa-file-excel-o"></i></label>
                                        <input type="file" id="exampleInputFile">
                                        <button type="button" style="float: right;" class="btn btn-default parse_csv">
                                            <i class="fa fa-upload"></i> Загрузить CSV
                                        </button>
                                    </div>
                                    <div class="form-group">
                                        <h6>Запросы (запрос; wordstat)</h6>
                                        <textarea class="form-control" rows="4"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default close" data-dismiss="modal">Отмена</button>
                                    <button type="button" class="btn btn-primary float-right" id="sa-success">Добавить</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>                
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% include "monitoring/_sweet_alert.html" %}
    {% include "monitoring/_toast_notify.html" %}
    <style >
        #DataTables_Table_0_wrapper{
            margin-top: 25px;
        }
    </style>
    <script>
        $(document).ready(function(){
            querys = []
            //check all
            $('.check_all_checkboxes').click(function(){
                if($(this).hasClass('active')){
        	        $(this).toggleClass('active')
        	        $(this).parents('table').find('tbody tr').each(function(){
        		        $(this).not('.hide').find('input[type=checkbox]').prop('checked', false)
        	        })    
                }
                else{
        	        $(this).toggleClass('active')
        	        $(this).parents('table').find('tbody tr').each(function(){
        		        $(this).not('.hide').find('input[type=checkbox]').prop('checked', true)
        	        })
        	    }
            })
            //Parse CSV
            $('.projects tbody :checkbox').shiftcheckbox();
            $(function () {
                "use strict";
                $('.projects').DataTable({
                    "lengthMenu": [[-1, 100, 50, 25], ["Всё", 100, 50, 25]],
                    'ordering'    : true,
                    "order": [[ 2, "desc" ]],
                    'info'        : true,
                    'autoWidth'   : true,
                    "language": {
                        "info" : "Страница _PAGE_ из _PAGES_",
                        "search": "Поиск:",
                        "paginate": {
                            "first": "Первая",
                            "previous": "Предыдущая",
                            "next": "Следующая",
                            "last": "Последняя"
                        },
                        "lengthMenu": "Показать _MENU_ записей",
                    },
    				"columnDefs": [ {
    				"targets": 0,
    				"orderable": false,
    			  	}],
                    "drawCallback": function() {
                        $('.projects :checkbox').off('.shiftcheckbox');
                        $('.projects :checkbox').shiftcheckbox();
                    }
                });
            })
            //CSV PARSE
            $('.parse_csv').click(function(){
                querys = []
	            var bbb
    			$("input[type=file]").parse({
    				config: {
    					skipEmptyLines: true,
    					header: false,
                        encoding: 'CP1251',
    					complete: function(results, file) {
    						console.log("File done:", results);
    						bbb = results
    					}
    				}
    			});
    			ttt = function(){
					for(s = 1; s < bbb['data'].length; s++){
						querys.push({"text" : bbb['data'][s][1], "wordstat" : bbb['data'][s][4]})
						$('textarea').val($('textarea').val() + bbb['data'][s][1] + ';' + bbb['data'][s][4] + '\r\n')
					}
    			}
    			setTimeout(function(){
    				ttt()
    			}, 2000)
            })
            
            //Success Message
            $('#sa-success').click(function(){
                _this = $(this)
                
                site = $(this).parents('.modal-content').find('.form-control').val()
                
                if($('textarea').val() == ""){
                    $.toast({
                        heading: 'Ошибка',
                        text: 'Заполните все поля!',
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'warning',
                        hideAfter: 3500,
                        stack: 6
                    });
                }
                else{
                    $('#addquerys .close').trigger('click')
                    var ev_name = '{{ data.name }}'
                    startdate = {% if data.startdate %}{{ data.startdate|date:"Y-m-d" }} + 'T00:00'{% else %}null{% endif %}
                    finishdate = {% if data.finishdate %}{{ data.finishdate|date:"Y-m-d" }} + 'T00:00'{% else %}null{% endif %}
                    
                    $.ajax({
                        url: '/api/event/' + '{{ data.id }}' + '/',
                        method: "PATCH",
                        data: JSON.stringify({"querys": querys, csrfmiddlewaretoken: getCookie('csrftoken')}),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data, textStatus){
                            swal("Проект добавлен!", site, "success")
                        }
                    })
                }
            })
        })
    </script>
{% endblock %}