<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">  
	<link rel="stylesheet" href="/static/css/style.css">
	<title>Document</title>

</head>
<body>

    <div class="wrapper wrapper-login">
        <div class="container pt-15">
            <div class="col-md-6 offset-md-3 col-xs-8 offset-xs-4">
                <div class="card">
                    <div class="card-header header-custom">CRMPlan - Авторизация</div>
                    <div class="card-body">
                        <form id="authentication_form">
                            <div class="mt-2 mb-2 text-center loader d-none">
                                <img src="/static/img/azure-loader.svg" alt="loader" />
                            </div>
                            <div class="text-danger small mt-2 mb-4 d-none main-error-label text-center">Пользователя с таким именем и паролем не существует.</div>
                            <input type="hidden" name="csrf" value="{{ c.csrf_token }}">
        
                            <div class="form-group">
                                <label>Логин</label>
                                <input type="text" name="name" class="form-control form-control-login" placeholder="thomas_sanders" />
                                <div class="text-danger small mt-2 d-none error-label">&times; Логин не должен быть пустым!</div>
                            </div>
                            <div class="form-group form-control-feedback">
                                <label>Пароль</label>
                                <input type="password" name="password" class="form-control form-control-login password-input" placeholder="•••••••••••" />
                                <i class="glyphicon glyphicon-eye-open form-control-feedback"></i>
                                <div class="text-danger small mt-2 d-none error-label">&times; Пароль не должен быть пустым!</div>
                            </div>
        
                            <div class="text-center mt-1"><a href="#" class="small">Забыли пароль?</a></div>
        
                            <div class="form-group mt-4 text-center">
                                <button type="submit" class="btn btn-primary btn-login">Войти <i class="fa fa-sign-in ml-1" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div> 
            </div> 
        </div>
    </div>


<script src="http://176.57.217.200:8008/static/js/libs/jquery/jquery.js"></script>
<script src="http://176.57.217.200:8008/static/js/csrf.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hideshowpassword/2.0.8/hideShowPassword.min.js"></script>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
<script>
    $(function() {
        $('.password + .glyphicon').on('click', function() {
            $(this).toggleClass('glyphicon-eye-close').toggleClass('glyphicon-eye-open');
            $('.password').togglePassword(); 
        });
    })
    $(function() {
        function ifEmptyReturnErrorMessage(input) {
            inputValue = input.val().trim();

            if (inputValue === "" || !inputValue || inputValue === null) {
                input.parent().find('.error-label').removeClass('d-none');
                return false;
            }

            return true;
        }

        $('#authentication_form').on('submit', function(e) {
            e.preventDefault();

            var form = $(this);
            var loader = form.find('.loader');

            loader.removeClass('d-none');
            form.find('.main-error-label').addClass('d-none');


            var name = $('input[name=name]'),
                password = $('input[name=password]');
            

            if (!!(ifEmptyReturnErrorMessage(name) & ifEmptyReturnErrorMessage(password))) {
                // console.log(name.val() + " " + password.val())
                var requestData = { name: name.val(),  password: password.val(), csrfmiddlewaretoken: getCookie('csrftoken') }

                $.ajax({ url: '/auth/', method: "POST", data: requestData,
                    success: function (data) {
                        loader.addClass('d-none');

                        if (data === 'not valid user') {
                            form.find('.main-error-label').removeClass('d-none')
                        } 
                        else {
                            window.location = '/main'
                        }
                    }
                })
            } else {
                loader.addClass('d-none');
            }
        })

        $('input').keyup(function() {
            var error_label = $(this).parent().find('.error-label')

            if (error_label.length && !error_label.hasClass('d-none')) {
                error_label.addClass('d-none')
            }
        });
    });
</script>
    
</body>
</html>