<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"> -->
    <link rel="stylesheet" href="/static/css/select2-bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.ru.min.js"></script>
    <link rel="stylesheet" href="http://sweet-acc.ru/static/css/util.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>CRMPlan</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="section-header">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                        <a class="navbar-brand" href="#"><img src="/static/img/crm_logo.png" alt="crm logo"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="mx-auto order-0 w-100">
                        <div>
                            <select name="select_project" class="form-control" id="main_project_selector">
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item dropright">
                                <a class="nav-link dropdown-toggle navbar-profile-title" href="#" id="userDropdownLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user_info.name }} {{ user_info.surname }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="userDropdownLink">
                                    <h6 class="dropdown-header">Список</h6>
                                    <a class="dropdown-item" href="#">Назначенные проекты</a>
                                    <a class="dropdown-item" data-action="project_list">Список проектов</a>
                                    <a class="dropdown-item" data-action="users_list">Пользователи</a>
                                    <div class="dropdown-divider"></div>
                                    <h6 class="dropdown-header">Действия</h6>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#create_project">Создать
                                        проект</a>
                                    <a class="dropdown-item" id="create_task_button" href="#" data-toggle="modal"
                                        data-target="#create_task">Создать задачу</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#create_user">Добавить
                                        пользователя</a>
                                    <div class="dropdown-divider"></div>
                                    <h6 class="dropdown-header">Аккаунт</h6>
                                    <a href="" class="dropdown-item">Моя страница</a>
                                    <a href="" class="dropdown-item">Настройки</a>
                                    <a href="/logout" class="dropdown-item">Выход</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="selected-block mb-5"></div>


            <div class="modal fade show" id="create_project" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content alert alert-primary">
                        <div class="modal-header">
                            <h5 class="modal-title">Создать проект</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="create_project_form">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Название проекта</label>
                                    <input type="text" name="project_name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Описание проекта</label>
                                    <input type="text" name="project_description" class="form-control" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Создать проект</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade show" id="create_user" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content alert alert-primary">
                        <div class="modal-header">
                            <h5 class="modal-title">Создать пользователя</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="create_user_form">
                            <div class="modal-body">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label>Логин</label>
                                            <input type="text" name="login" class="form-control" required>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Пароль</label>
                                            <input type="text" name="password" class="form-control" required>
                                        </div>
                                    </div>

                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Имя</label>
                                        <input type="text" name="name" class="form-control" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Фамилия</label>
                                        <input type="text" name="surname" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label>Номер телефона</label>
                                        <input type="text" name="phone" class="form-control" required>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Адрес эл.почты</label>
                                        <input type="text" name="email" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Дополнительная информация</label>
                                    <textarea name="user_info" class="form-control" required></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Создать пользователя</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade show" id="create_task" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content alert alert-primary">
                        <div class="modal-header">
                            <h5 class="modal-title">Создать задачу</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="create_task_form">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label>Название задачи</label>
                                    <input type="text" name="task_name" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Комментарий</label>
                                    <textarea name="task_comment" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">Проект</label>
                                    <select name="select_task_project" class="form-control" id="project_selector" required>

                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">Кому назначить</label>
                                    <select name="select_task_contributor" class="form-control select2-custom" required>
                                        
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Дата окончания</label>
                                    <input type="text" class="create_task_deadline form-control" required />
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Добавить задачу</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>


        <script src="http://176.57.217.200:8008/static/js/csrf.js"></script>
        <script src="/static/js/notify.min.js"></script>
        <script src="/static/js/main.js"></script>

        <script>

        </script>

</body>

</html>