<div class="tab-pane active">
<div class="section-profile columns columns-centered">
    <div class="column profile-avatar text-center"><img src="http://memesmix.net/media/created/fccp41.jpg" alt="profile avatar"></div>
    <div class="column profile-info">
        <div class="contact-title"><span>${data.user.name} ${data.user.surname}</span></div>
        <div class="contact-data"><span>Контактные данные:</span></div>
        <div class="contact-data-inner"><span>Телефон: ${data.user.phone }</span></div>
        <div class="contact-data-inner"><span>Email: ${ data.user.email }</span></div>
        <div class="contact-data"><span>Информация:</span></div>
        <div class="contact-data-inner"><span>${ data.user.info }</span></div>
    </div>
</div>
<div class="section-tasks">
    <div class="column">
        <ul class="nav nav-tabs" id="tasksTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tasks-tab" data-toggle="tab" href="#tasks" role="tab" aria-controls="tasks" aria-selected="true">Задачи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tasks-pointed-tab" data-toggle="tab" href="#tasks-pointed" role="tab" aria-controls="tasks-pointed" aria-selected="false">Назначенные</a>
            </li>
        </ul>
        <div class="tab-content mt-4" id="tasksTabContent">
            <div class="tab-pane fade show active" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
                <table class="table table-hover table-bordered" id="profile_tasks_table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Задача</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Проект</th>
                            <th scope="col">Назначивший</th>
                            <th scope="col">Создание</th>
                            <th scope="col">Окончание</th>
                        </tr>
                    </thead>
                </table>
                <button class="btn btn-danger d-none" id="remove_tasks">Удалить выбранное</button>
            </div>
            <div class="tab-pane fade" id="tasks-pointed" role="tabpanel" aria-labelledby="tasks-tab">
                <table class="table table-hover table-bordered w-100" id="profile_pointed_tasks_table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Задача</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Проект</th>
                            <th scope="col">Кому назначено</th>
                            <th scope="col">Создание</th>
                            <th scope="col">Окончание</th>
                        </tr>
                    </thead>
                </table>
                <button class="btn btn-danger d-none" id="remove_pointed_tasks">Удалить выбранное</button>
            </div>
        </div>
    </div>
</div>
</div>
</div>