<div class="tab-pane active">
<h6 class="text-center mt-5">Информация о проекте "${data.name}" <button class="btn text-danger ml-2" data-attr-id="${data.pk}" id="delete_project"><i class="fa fa-trash"></i></button></h6>
<div class="section-profile columns columns-centered mt-2">
    <div class="column profile-avatar text-center"><img src="https://image.freepik.com/icones-gratis/botao-de-seta-apontando-para-baixo-a-direita_318-32543.jpg"
            alt="profile avatar"></div>
    <div class="column profile-info">
        <div class="project-data">Описание проекта:</div>
        <p class="project-data-description card card-body" data-attr-key="${data.pk}">${data.description}</p>
        <div><button class="btn btn-primary d-none" id="edit_description">Изменить</button></div>
        <div class="project-data pt-2">Количество задач: ${data.task_count}</div>
        <div class="project-data pt-2">Создатель: ${data.creator}</div>
        <div class="project-data pt-2">Дата создания: ${data.create_date}</div>
    </div>
</div>
<div class="section-tasks">
    <div class="column">
        <div class="tab-content" id="tasksTabContent">
            <div class="tab-pane fade show active" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
                <table class="table table-hover table-bordered" id="project_tasks_table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Задача</th>
                            <th scope="col">Статус</th>
                            <th scope="col">Исполнитель</th>
                            <th scope="col">Назначивший</th>
                            <th scope="col">Создание</th>
                            <th scope="col">Окончание</th>
                        </tr>
                    </thead>

                </table>
                <button class="btn btn-danger d-none" id="remove_tasks">Удалить выбранное</button>
            </div>
        </div>
    </div>
</div>
</div>
</div>