<div class="text-center mt-4 mb-4">Пользователи</div>
    <div class="section-tasks">
        <div class="column">
            <div class="tab-content" id="tasksTabContent">
                <div class="tab-pane fade show active" id="projects" role="tabpanel" aria-labelledby="tasks-tab">
                    <table class="table table-hover table-bordered" id="users_table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Полное имя</th>
                                <th scope="col">Эл. почта</th>
                                <th scope="col">Информация</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    <button class="btn btn-danger d-none" id="remove_users">Удалить выбранное</button>
                </div>
            </div>
        </div>
    </div>
</div>