{% extends "__base.html" %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header">
                    <ul class="nav nav-pills margin-bottom margin-top-10">
                        {% for s in services %}
                            <li class="nav-item">
                                <a href="#navpills-{{ s.pk }}" data-id="{{ s.name }}" class="nav-link{% if forloop.first %} active show{% endif %}" data-toggle="tab" aria-expanded="false"><img style="margin-right: 10px;" src="//favicon.yandex.net/favicon/{{ s.name }}/">{{ s.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="tab-content">
                            <div>
                            {% for s in statuses %}
                            {% ifchanged s.3 %}
                                </div>
            					<div id="navpills-{{ s.3 }}" class="tab-pane {% if forloop.first %}active show{% endif %}">                                
                            {% endifchanged %}
                                    <span class="bg-primary d-inline-block d-inline-block text-center p-1 w-200 {% if s.1 %}get_accs{% endif %}" style="font-size: 12px; margin-bottom: 3px;">
                                        <span>{{ s.0 }}</span> - {{ s.1 }}
                                    </span>
                            {% endfor %}
                            </div>
                        </div>
                    <table class="table table-lg projects" id="myTable">
                        <thead>
                            <tr>
                                <th>Логин/Пароль</th>
                                <th>Почта/Пароль</th>
                                <th>Баланс</th>
                                <th>Валюта</th>
                                <th>Телефон</th>
                                <th>Фильтр</th>
                                <th>dates</th>
                                <th>Прокси</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    </div>
                    <div class="modal fade show" id="modal-default">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Добавить проект</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                </div>
                                <div class="modal-body">
                                    <h6>Название сайта</h6>
                                    <input class="form-control" type="text">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                    <button type="button" class="btn btn-primary float-right" id="sa-success">Добавить</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>                
                </div>
            </div>
        </div>
    </div>
    <div class="flying_date"></div>
{% endblock %}
{% block scripts %}
    {% include "monitoring/_sweet_alert.html" %}
    {% include "monitoring/_toast_notify.html" %}
    <style>
        *{
            outline: 0!important;
        }
        editable {
            padding: 0 5px;
        }
        .p-1 {
            opacity: 0.5;
        }
        .p-1.get_accs {
            opacity: 1;
            cursor: pointer;
        }
        .show_hover p{
            font-size: 12px;
            margin: 0 3px;
            cursor: pointer;
        }
        .show_hover span{
            position: absolute;
            left: 100%;
            z-index: 555;
            display: none;
            font-size: 11px;
        }
        .show_hover p:hover+span{
            display: block;
            top: 0;
            background: #333;
            padding: 3px;
        }
        table.projects tbody tr td, table.projects thead tr th {
            font-size: 12px;
        }
        .flying_date {
            position: fixed;
            background: #333;
            padding: 10px;
            color: #fff;
            font-size: 12px;
            display: none;
        }
        .flying_date.active {
            display: block;
        }
    </style>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        window.services = [{% for s in services %}{% if forloop.last %}[{{ s.pk }}, '{{ s.name }}']{% else %}[{{ s.pk }}, '{{ s.name }}'],{% endif %}{% endfor %}]
        $(document).ready(function(){
/*
            get_service = function(e){
                for(i=0; i < services.length; i++){
                    if(e == services[i][0]){
                        return services[i][1]
                        break
                    }
                }
            }
*/
            $('.get_accs').click(function(){
                $('#myTable tbody *').remove()
                $.ajax({
                    url: 'http://176.57.217.200:8001/api/cashback/select_accs/',
                    method: "POST",
                    data: JSON.stringify({"status": $(this).find('span').text(), "service" : $('.nav-link.active').data('id'), csrfmiddlewaretoken: getCookie('csrftoken')}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data, textStatus){
                        bbb = JSON.parse(data)
                        for(i=0;i < bbb.length; i++){
                            moneydate = bbb[i]['fields']['moneydate'] == null ? null : bbb[i]['fields']['moneydate'].split('T')[0] + ',' + bbb[i]['fields']['moneydate'].split('T')[1].split('.')[0].replace('Z', '') 
                            $('#myTable tbody').append('<tr data-id="' + bbb[i]['pk'] + '" class="bt-3 border-primary"><td>' + bbb[i]['fields']['login'] + ':' + bbb[i]['fields']['password'] + '</td><td>' + bbb[i]['fields']['mail'] + ':' + bbb[i]['fields']['mailpassword'] + '</td><td>' + bbb[i]['fields']['balance'] + '</td><td>'  + bbb[i]['fields']['currency'] + '</td><td>' + bbb[i]['fields']['phone'] + '</td><td>' + bbb[i]['fields']['mailfilter'] + '</td><td class="show_hover"><editable>' + moneydate + '</editable><p class="badge badge-success" data-date="' + bbb[i]['fields']['createdate'].split('T')[0] + ', ' + bbb[i]['fields']['createdate'].split('T')[1].split('.')[0] + '">create</p><p class="badge badge-info" data-date="' + bbb[i]['fields']['checkdate'].split('T')[0] + ', ' + bbb[i]['fields']['checkdate'].split('T')[1].split('.')[0] + '">check</p></td><td class="show_hover"><p class="badge badge-info" data-date="' + bbb[i]['fields']['checkproxy'] + '">check</p><p class="badge badge-info" data-date="' + bbb[i]['fields']['withdrawaproxy'] + '">withdrawall</p></td></tr>')
                        }
                    }
                })
            })
            
            
        //edit
        $('#myTable tbody').on('dblclick', 'tr td', function() {
            $(this).addClass('edited_now')
            $(this).find('editable').html('<input type="datetime-local" name="calendar" value="' + $(this).find('editable').text().split(',')[0] + 'T' + $(this).find('editable').text().split(',')[1] + '">')
            $('body').addClass('edited')
        })
        
        $('html').on('click', 'body.edited', function(e){
            if(!$(e.target).parents('.edited_now').length){
                $.ajax({
                    url: 'http://176.57.217.200:8001/api/cashback/' + $('.edited_now').parents('tr').data('id') + '/',
                    method: "PATCH",
                    data: JSON.stringify({"moneydate": $('.edited_now [name=calendar]').val(), csrfmiddlewaretoken: getCookie('csrftoken')}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data, textStatus){
                        $('.edited_now editable').html($('.edited_now [name=calendar]').val().replace('T', ','))
                        $.toast({
                            heading: 'Готово',
                            text: 'Дата изменена!',
                            position: 'top-right',
                            loaderBg: '#00c292',
                            icon: 'success',
                            hideAfter: 3500,
                            stack: 6
                        });
                    }
                })
            }
        })
        
        //tooltip
        var $tooltip = $(".flying_date");
        addEventListener('mousemove', tellPos, false);

        function tellPos(p) {
            var height = parseInt($tooltip.css('height')),
                width = parseInt($tooltip.css('width'));
            $tooltip.css({
                left: p.clientX - width / 2,
                top: p.clientY - height - 20
            });
        }
        
        $('body').on('mouseenter', '.show_hover .badge', function(){
            $tooltip.addClass('active');
            $tooltip.addClass('active').text($(this).data('date'))
        })
        $('body').on("mouseleave", '.show_hover .badge', function(){
            $tooltip.removeClass('active');
        })
/*
            $('#myTable').DataTable({
                "lengthMenu": [[100, 50, 25, -1], [100, 50, 25, "Всё"]],
                "language": {
                    "info" : "Страница _PAGE_ из _PAGES_",
                    "search": "Поиск:",
                    "paginate": {
                        "first": "Первая",
                        "previous": "Предыдущая",
                        "next": "Следующая",
                        "last": "Последняя"
                    },
                    "lengthMenu": "Показать _MENU_ записей",
                },
            });
*/
        })
    </script>
{% endblock %}